@import "tailwindcss";

@theme {
  --font-body: "Montserrat", sans-serif;
  --font-headline: "Unicorns are Awesome", sans-serif;
  --color-background: #0a0a0a;
  --color-tinted-text: #ffade4;
  --color-white-text: #fbdff2;
  --text-shadow-dino: 0px 0px 10px #ff30ff;
}
